<footer class="site-footer">
  <div class="container">
    <div class="footer-grid">
      <!-- Marca -->
      <div class="footer-block">
        <h5>{{ 'footer.brand' | translate }}</h5>
        <p>{{ 'footer.brandDesc' | translate }}</p>
      </div>

      <!-- Contacto + Mapa -->
      <div class="footer-block footer-contact">
        <h5>{{ 'footer.contact' | translate }}</h5>
        <p>
          {{ 'footer.address' | translate }}<br />
          {{ 'footer.city' | translate }}
        </p>
        <p>
          {{ 'footer.phone' | translate }}<br />
          info&#64;ruizdelaprada.es
        </p>
      </div>

      <!-- Redes sociales -->
      <div class="footer-block footer-right">
        <h5>{{ 'footer.followUs' | translate }}</h5>
        <div class="footer-social-icons">
          @for (link of socialLinks(); track link.icon) {
            <a [href]="link.url" [attr.aria-label]="link.label">
              <i class="bi" [class]="link.icon"></i>
            </a>
          }
        </div>
      </div>
    </div>

    <div class="footer-bottom">&copy; {{ year() }} {{ 'footer.copyright' | translate }}</div>
  </div>
</footer>
