<form method="post"
      action="{{ path('app_user_delete', {'id': user.id}) }}"
      onsubmit="return confirm('¿Seguro que quieres eliminar este usuario?');">

    <input type="hidden"
           name="_token"
           value="{{ csrf_token('delete' ~ user.id) }}">

    <button class="btn btn-outline-danger btn-sm">
        Eliminar usuario
    </button>

</form>
