.page-index {
    background: #ffffff;
    color: #000000;
}

.page-index .index-hero {
    border-bottom: 1px solid #000;
    height: 600px
}

.logo{
    height: 400px;
    width: auto;
    margin-left: 35%;
    margin-top: 7%;
}

header {
    transition: background-image 1s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-index .index-main {
    padding-top: 80px;
    padding-bottom: 80px;
}

.page-index .index-section {
    margin-bottom: 120px;
}

.page-index .index-section-title {
    font-size: 900%;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.page-index .index-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border: 1px solid #000;
}

.page-index .index-footer {
    border-top: 1px solid #000;
}
